# PROBLEM 2.1
__1.a. Deciding whether to issue a loan to an applicant based on demographic and
financial data (with reference to a database of similar data on prior customers).__

__A__: Supervised, since the database is available, we can use it to identify which customers were given the loan previously(outcomes are present)

__1.b. In an online bookstore, making recommendations to customers concerning
additional items to buy based on the buying patterns in prior transactions.__

__A__: Unsupervised, because the buying pattern may not be leading to same set of outcomes.

__1.c. Identifying a network data packet as dangerous (virus, hacker attack) based on
comparison to other packets whose threat status is known.__

__A__: Supervised, the outcomes of previous packets is known, whether it was a dangerous packet or not. 

__1.d.: Identifying segments of similar customers__

__A__: Unsupervised, we don't need any outcome to cluster customers based on some characteristics.  

__1.e. Predicting whether a company will go bankrupt based on comparing its financial
data to those of similar bankrupt and nonbankrupt firms__

__A__: Supervised, since the historical financial data of other companies is available and we know whether they were bankrupted or not.

__1.f.: Estimating the repair time required for an aircraft based on a trouble ticket__

__A__: Supervised, assuming historical data of the repair time and the problem is available 

__1.g. Automated sorting of mail by zip code scanning.__

__A__: Supervised , assuming historical data of sorted mail is available.

__1.h. Printing of custom discount coupons at the conclusion of a grocery store checkout
based on what you just bought and what others have bought previously__

__A__: Supervised, based on discount coupons given to other customers, we can identify what set of items can results in discount coupons.

# PROBLEM 2.5

__Using the concept of overfitting, explain why when a model is fit to training data, zero error with those data is not necessarily good.__

__Answer:__ Overfitting is a concept when a model becomes too complex, it generalizes on the sample data and learns the noise on that data. Hence, an overfitted model may give zero error when applied to training data, but when we apply this model to unseen data, it will not perform as intended.

# PROBLEM 2.8

In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split

In [2]:
# create a data frame
df = pd.DataFrame({
    'Age': [25, 56, 65, 32, 41, 49],
    'Income': [49000, 156000, 99000, 192000, 39000, 57000]
})
df.head()

   Age  Income
0   25   49000
1   56  156000
2   65   99000
3   32  192000
4   41   39000

In [3]:
from sklearn import preprocessing
from sklearn.preprocessing import StandardScaler

In [4]:
scaler= StandardScaler()
df2= scaler.fit_transform(df)
normalized_df = pd.DataFrame(df2,index=df.index , columns=df.columns)
normalized_df.head()

        Age    Income
0 -1.438597 -0.865431
1  0.829022  0.999021
2  1.487363  0.005808
3 -0.926554  1.626314
4 -0.268213 -1.039679

# PROBLEM 2.10

__Two models are applied to a dataset that has been partitioned. Model A is considerably more accurate than model B on the training data, but slightly less accurate than model B on the validation data. Which model are you more likely to consider for final deployment?__

__Answer__: ___Model B___ should be use for final deployment, since _model A_ is more accurate on training data and less accurate in validation data, it must be resulting into overfiting.So a model with better performance on validation data should be considered.

# PROBLEM 2.11 
__The dataset ToyotaCorolla.csv contains data on used cars on sale during the late
summer of 2004 in the Netherlands. It has 1436 records containing details on 38
attributes, including Price, Age, Kilometers, HP, and other specifications.__

__We plan to analyze the data using various data mining techniques described in future
chapters. Prepare the data for use as follows:__

__a.The dataset has two categorical attributes, Fuel Type and Color. Describe how you
would convert these to binary variables. Confirm this using pandas methods to
transform categorical data into dummies.__

In [5]:
df = pd.read_csv('ToyotaCorolla.csv')

In [6]:
df.head()

,Id,Model,Price,Age_08_04,Mfg_Month,Mfg_Year,KM,Fuel_Type,HP,Met_Color,...,Powered_Windows,Power_Steering,Radio,Mistlamps,Sport_Model,Backseat_Divider,Metallic_Rim,Radio_cassette,Parking_Assistant,Tow_Bar
0,1,TOYOTA Corolla 2.0 D4D HATCHB TERRA 2/3-Doors,13500,23,10,2002,46986,Diesel,90,1,...,1,1,0,0,0,1,0,0,0,0
1,2,TOYOTA Corolla 2.0 D4D HATCHB TERRA 2/3-Doors,13750,23,10,2002,72937,Diesel,90,1,...,0,1,0,0,0,1,0,0,0,0
2,3,TOYOTA Corolla 2.0 D4D HATCHB TERRA 2/3-Doors,13950,24,9,2002,41711,Diesel,90,1,...,0,1,0,0,0,1,0,0,0,0
3,4,TOYOTA Corolla 2.0 D4D HATCHB TERRA 2/3-Doors,14950,26,7,2002,48000,Diesel,90,0,...,0,1,0,0,0,1,0,0,0,0
4,5,TOYOTA Corolla 2.0 D4D HATCHB SOL 2/3-Doors,13750,30,3,2002,38500,Diesel,90,0,...,1,1,0,1,0,1,0,0,0,0

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1436 entries, 0 to 1435
Data columns (total 39 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Id                 1436 non-null   int64
 1   Model              1436 non-null   object
 2   Price              1436 non-null   int64
 3   Age_08_04          1436 non-null   int64
 4   Mfg_Month          1436 non-null   int64
 5   Mfg_Year           1436 non-null   int64
 6   KM                 1436 non-null   int64
 7   Fuel_Type          1436 non-null   object
 8   HP                 1436 non-null   int64
 9   Met_Color          1436 non-null   int64
 10  Color              1436 non-null   object
 11  Automatic          1436 non-null   int64
 12  CC                 1436 non-null   int64
 13  Doors              1436 non-null   int64
 14  Cylinders          1436 non-null   int64
 15  Gears              1436 non-null   int64
 16  Quarterly_Tax      1436 non-null   int64
 17  Weight             1436 non-null   int64
 18  Mfr_Guarantee      1436 non-null   int64
 19  BOVAG_Guarantee    1436 non-null   int64
 20  Guarantee_Period   1436 non-null   int64
 21  ABS                1436 non-null   int64
 22  Airbag_1           1436 non-null   int64
 23  Airbag_2           1436 non-null   int64
 24  Airco              1436 non-null   int64
 25  Automatic_airco    1436 non-null   int64
 26  Boardcomputer      1436 non-null   int64
 27  CD_Player          1436 non-null   int64
 28  Central_Lock       1436 non-null   int64
 29  Powered_Windows    1436 non-null   int64
 30  Power_Steering     1436 non-null   int64
 31  Radio              1436 non-null   int64
 32  Mistlamps          1436 non-null   int64
 33  Sport_Model        1436 non-null   int64
 34  Backseat_Divider   1436 non-null   int64
 35  Metallic_Rim       1436 non-null   int64
 36  Radio_cassette     1436 non-null   int64
 37  Parking_Assistant  1436 non-null   int64
 38  Tow_Bar            1436 non-null   int64
dtypes: int64(36), object(3)
memory usage: 437.7+ KB

In [8]:
df.columns

Index(['Id', 'Model', 'Price', 'Age_08_04', 'Mfg_Month', 'Mfg_Year', 'KM',
       'Fuel_Type', 'HP', 'Met_Color', 'Color', 'Automatic', 'CC', 'Doors',
       'Cylinders', 'Gears', 'Quarterly_Tax', 'Weight', 'Mfr_Guarantee',
       'BOVAG_Guarantee', 'Guarantee_Period', 'ABS', 'Airbag_1', 'Airbag_2',
       'Airco', 'Automatic_airco', 'Boardcomputer', 'CD_Player',
       'Central_Lock', 'Powered_Windows', 'Power_Steering', 'Radio',
       'Mistlamps', 'Sport_Model', 'Backseat_Divider', 'Metallic_Rim',
       'Radio_cassette', 'Parking_Assistant', 'Tow_Bar'],
      dtype='object')

In [9]:
#unique fuel type
df['Fuel_Type'].unique()

array(['Diesel', 'Petrol', 'CNG'], dtype=object)

We can create 2 binary dummy columns like fuel_type_diesel and fuel_type_petrol , if fuel_type = diesel then fuel_type_diesel will be 1, rest will be zero. 
Note that we create 2 columns out of 3 categories to avoid redundancy, if fuel_type_diesel=0 and fuel_type_petrol=0 then it must be CNG.

In [10]:
#unique colors
df['Color'].unique()

array(['Blue', 'Silver', 'Black', 'White', 'Grey', 'Red', 'Green',
       'Yellow', 'Violet', 'Beige'], dtype=object)

Same way as above, we will create n-1 columns for colors, indicating which color was it.

In [11]:
dummy_df= pd.get_dummies(df,columns=['Fuel_Type','Color'], prefix_sep='_', drop_first=True)
dummy_df.columns

Index(['Id', 'Model', 'Price', 'Age_08_04', 'Mfg_Month', 'Mfg_Year', 'KM',
       'HP', 'Met_Color', 'Automatic', 'CC', 'Doors', 'Cylinders', 'Gears',
       'Quarterly_Tax', 'Weight', 'Mfr_Guarantee', 'BOVAG_Guarantee',
       'Guarantee_Period', 'ABS', 'Airbag_1', 'Airbag_2', 'Airco',
       'Automatic_airco', 'Boardcomputer', 'CD_Player', 'Central_Lock',
       'Powered_Windows', 'Power_Steering', 'Radio', 'Mistlamps',
       'Sport_Model', 'Backseat_Divider', 'Metallic_Rim', 'Radio_cassette',
       'Parking_Assistant', 'Tow_Bar', 'Fuel_Type_Diesel', 'Fuel_Type_Petrol',
       'Color_Black', 'Color_Blue', 'Color_Green', 'Color_Grey', 'Color_Red',
       'Color_Silver', 'Color_Violet', 'Color_White', 'Color_Yellow'],
      dtype='object')

In [12]:
dummy_df.shape

(1436, 48)

Here, following binary columns are created from Fuel type and Color column:

'Fuel_Type_Diesel', 'Fuel_Type_Petrol',
       'Color_Black', 'Color_Blue', 'Color_Green', 'Color_Grey', 'Color_Red',
       'Color_Silver', 'Color_Violet', 'Color_White', 'Color_Yellow'

In [13]:
# To see how dummy variables look
dummy_df.iloc[:,-11:].head()

,Fuel_Type_Diesel,Fuel_Type_Petrol,Color_Black,Color_Blue,Color_Green,Color_Grey,Color_Red,Color_Silver,Color_Violet,Color_White,Color_Yellow
0,1,0,0,1,0,0,0,0,0,0,0
1,1,0,0,0,0,0,0,1,0,0,0
2,1,0,0,1,0,0,0,0,0,0,0
3,1,0,1,0,0,0,0,0,0,0,0
4,1,0,1,0,0,0,0,0,0,0,0

__b.Prepare the dataset (as factored into dummies) for data mining techniques of
supervised learning by creating partitions in Python. Select all the variables and
use default values for the random seed and partitioning percentages for training
(50%), validation (30%), and test (20%) sets. Describe the roles that these
partitions will play in modeling.__

In [14]:
trainData, temp = train_test_split(dummy_df, test_size=0.5, random_state=1)
validData, testData = train_test_split(temp, test_size=0.4, random_state=1)
print('Training : ', trainData.shape)
print('Validation : ', validData.shape)
print('Test : ', testData.shape)

Training :  (718, 48)
Validation :  (430, 48)
Test :  (288, 48)

__Training Partition__

The data that is used to build the model. Model cofficients are learned on this data. 

__Validation Partition__ 

It is used to qualify or asses the  predictive performance of each model. 

__Test Partition__ 

It is used as an evaluation set,  to provide unbiased evaluation of a final model on new data.